@import "./mixin/mixin.scss";
@import "./reset/reset.scss";
@import "./extend/extend.scss";
@import "./bussiness/about.scss";
@import "./bussiness/crouse.scss";
@import "./bussiness/home.scss";
@import "./bussiness/team.scss";
@import "./bussiness/work.scss";


#app{
  width: 100px;
  height: 100px;
  background: gray;
}
